.input-group-addon {
    padding: 12px;
}
.form-control {
    height: 46px;
}
.login_input {
    padding: 10px;
    display: table;
}

.login_input_icon {
    padding: 6px 12px;
    display: table-cell;
    width: 10%;

    line-height: 1;
    color: #555;
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#log {
    display: none;
}
.container #log.showLog  {
    display: block;
    padding-top: 100px; //it can work~~ <3
    height:280px;
    /*display:table-cell;*/
}
.container #log.showLog form {
    height:280px;
}
form #login-form{
    padding-top: 35px;
}