.navbar-inverse {
    background-color: #e1fff0;
    border: solid 4px #9aba80;;
}
body div #zz {
    width: 90%;
    display: table;
    padding: 20px 15px;
    margin: auto;
}
/*.contain p {
    padding: 20px 15px;
}*/
.container-fluid {
    padding-right: 15px;
    /*margin: 5px;*/
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    clear: both;
}
.logo {
    /*float: left;*/
    margin: 15px;
    /*margin-left: 15px;
    margin-top: 15px;*/
    font-size: 20px;
    line-height: 20px;
    color: #9d9d9d;
}
.dropdown_text {
    font-size: 20px;
}
.dropdown1 .dropdown-btn:hover {
    display: block;
}
/*it can work QQ*/
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #6d8662;
}