<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
      
      .input-group-addon {
        padding: 12px;
      }
      .form-control {
        height: 46px;
      }
  </style>
</head>
<body>

<div class="container">
  <h3>Log In</h3>
  
  <form>
    <div class="login_input">
      <span class="login_input_icon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="Account">
    </div>
    <div class="login_input">
      <span class="login_input_icon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
    <!--<div class="input-group " >
      <span class="input-group-addon" style="font-size: 20px;">search</span>
      <input id="search" type="text" class="form-control" name="search" placeholder="input some type">
    </div>-->
  </form>
  <br>

 <!--  <p>It can also be used on the right side of the input:</p>
  <form>
    <div class="input-group">
      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>   
    </div>
    <div class="input-group">
      <input id="password" type="password" class="form-control" name="password" placeholder="Password">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    </div>
  </form> -->
</div>

</body>
</html>

