<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Log In</h3>
  
  <form method="post" action="login.js" id="login_form">
    <div class="login_input">
      <span class="login_input_icon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="Account">
    </div>
    <div class="login_input">
      <span class="login_input_icon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Submit</button>&nbsp;&nbsp;
    <a class="dropdown-item" href="#">New around here? Sign up</a>&nbsp;&nbsp;
    <a class="dropdown-item" href="#">Forgot password?</a>
    <!--<div class="input-group " >
      <span class="input-group-addon" style="font-size: 20px;">search</span>
      <input id="search" type="text" class="form-control" name="search" placeholder="input some type">
    </div>-->
    <script src="login.js"></script>
  </form>
  <br>
</div>

</body>
</html>

