* {
    box-sizing: border-box;
}

body {
    font: 20px 'Helvetica Neue', Arial, Sans-serif;
    background: rgba(247, 255, 200, 0.88);
    /*margin: 0px;*/
}
.header h2 {
    padding: 150px 100px 120px 100px;
    font-weight: 200;
    color: white;
    background-color: rgba(94, 94, 94, 0.26);
    margin: 0px;
}
/*Wed Title */
.header {
    background-image: url("../img/i3.jpg");
    font-size: 40px;
    text-align: center;
    background-size: 100%;
}
/*nav*/
.navbar {
    /*overflow: hidden;*/ /*自動隱藏超出的文字、內容*/
    background-color: rgba(23, 23, 23, 0.44);
    font-family: Arial;
    padding: 0px 16px;
    /*background: transparent;*/
    color: #f1f1f1;
    line-height: 20px;
    top: 0;
}
.navbar a {
    float: left;
    font-size: 25px;
    color: white;
    line-height: 25px;
    padding: 26px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar ul li {
    background-color: inherit;
    float: left;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 22px 20px;
    margin: 0;
    background-color: inherit;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(19, 170, 95, 0.7);
    border-bottom: 3px solid red;
}

.dropdown-content {
    display: none; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    position: absolute;
    background-color: #deffc2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: rgba(153, 217, 85, 0.7);
    border-bottom: 3px solid transparent;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar .logout {
    float: right;  /*float: right !important;*/
}
.navbar .logout :hover {
    background-color: inherit;
    color: red;
    border-bottom: 3px solid transparent;
}
/*nav end*/

/* Create two unequal columns that floats next to each other */
.row h1, .row h2 {
    font-weight: 400;
    color: rgb(47, 111, 94);
}
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: rgba(190, 255, 159, 0.57);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #98d074;
    margin-top: 20px;
}

.row {
  padding: 16px 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 98.9%;
  /*width: 100%;*/
  padding-top: 0px;
  background-color: #98d074;
  z-index: 2;
  border: 3px black solid;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/*@media (max-width: 800px) {
    .leftcolumn, .rightcolumn, .sticky {   
        width: 100%;
        padding: 0;
    }
}*/